/*-------------------------------------------------------------------------- */
/* Common
/*-------------------------------------------------------------------------- */
.air-clear { clear: both; } 
.form-table th, .form-wrap label { color: #777; }
.form-table th { width: 150px; }
.button-secondary { margin-left: 6px; }
textarea, input { padding-top: 4px; padding-bottom: 4px; }
label { cursor: auto; }

.air-text { color: #777; line-height: 1.5em; }
.air-text h3 { font-size: 14px; color: #444; font-weight: bold; border-bottom: 1px solid #eee; padding-bottom: 6px; margin-bottom: 10px; margin-top: 20px; }
.air-text small { color: #aaa; }

#air-save-notice { background: #21759b url(img/button-grad.png) repeat-x top; float: left; margin: 6px 7px; padding: 0 10px; font-weight: bold; text-transform: uppercase; color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,0.3); -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
#air-save-notice p { background: url(img/save-success.png) no-repeat 0 2px; margin: 5px 0 4px 0; padding-left: 18px; }

.air-image-placeholder {  }
.air-image-placeholder img { background: #eee; padding: 10px; margin-top: 20px; border: 2px dashed #ccc; max-height: 60px; max-width: 426px; }


/*-------------------------------------------------------------------------- */
/* Wrapper
/*-------------------------------------------------------------------------- */
#air-wrap { width: 827px; margin-top: 20px; font-family: Arial; font-size: 12px; line-height: 1.5em; border-radius: 10px; box-shadow: 3px 3px 5px rgba(0,0,0,0.05); }
#air-wrap a { text-decoration: none; }
#air-wrap input[type="text"],
#air-wrap textarea,
#air-wrap select,
#air-wrap strong { color: #555; }


/*-------------------------------------------------------------------------- */
/* Header
/*-------------------------------------------------------------------------- */
#air-header { background: #6d6d6d url(img/air-header.png) repeat-x top; color: #fff; text-shadow: 0 1px 0 rgba(0,0,0,0.2); height: 60px; position: relative; border-bottom: 1px solid #175d7f;
-moz-border-radius: 10px 10px 0 0; -webkit-border-radius: 10px 10px 0 0; border-radius: 10px 10px 0 0; }

#air-header a#wpbandit-logo { background: url(img/wpbandit-logo.png) no-repeat 0 0; width: 165px; height: 29px; position: absolute; top: 17px; left: 20px; overflow: hidden; text-indent: -999px; }
#air-header ul { float: right; margin: 19px 0; padding: 0; }
#air-header ul li { margin: 0; line-height: 22px; }
#air-header ul li#air-theme-version { font-weight: bold; font-size: 18px; float: left; margin-right: 10px; }
#air-header ul li#air-air-version { background: url(img/air-version.png) repeat-x top; color: #e0eff6; text-shadow: 0 -1px 0 rgba(0,0,0,0.2); float: left; padding: 0 10px; margin-right: 20px; 
-moz-border-radius: 11px; -webkit-border-radius: 11px; border-radius: 11px;
-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.1); -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.1); box-shadow: 0 1px 0 rgba(0,0,0,0.1); }


/*-------------------------------------------------------------------------- */
/* Subheader
/*-------------------------------------------------------------------------- */
#air-subheader { background: #eaf2fa; text-shadow: 0 1px 0 #fff; height: 40px; border-top: 1px solid #fff; border-bottom: 1px solid #d5e0ec; }

ul#air-headmenu { float: right; font-size: 12px; font-weight: bold; text-transform: uppercase; margin: 0; }
ul#air-headmenu li { list-style: none; float: left; margin: 0; }
ul#air-headmenu li a { color: #21759b; display: block; line-height: 16px; padding: 12px 14px; border-left: 1px solid #d5e0ec; 
-moz-box-shadow: inset 1px 0 0 #fff; -webkit-box-shadow: inset 1px 0 0 #fff; box-shadow: inset 1px 0 0 #fff; }
ul#air-headmenu li a:hover { color: #21759b; text-decoration: underline; } 
ul#air-headmenu li.current a { background: #fff; border-bottom: 1px solid #fff; }


/*-------------------------------------------------------------------------- */
/* Main
/*-------------------------------------------------------------------------- */
#air-content { background: url(img/air-sidebar.png) repeat-y 0 0; border-left: 1px solid #d8d8d8; border-right: 1px solid #d8d8d8; border-bottom: 1px solid #d8d8d8; 
-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px; }


/*-------------------------------------------------------------------------- */
/* Sidebar
/*-------------------------------------------------------------------------- */
#air-sidebar { background: #f1f1f1; width: 145px; float: left; }

ul#air-menu { font-family: Arial; font-weight: bold; text-shadow: 0 1px 0 #fff; margin: 0; }
ul#air-menu li { list-style: none; margin: 0; }
ul#air-menu li a { color: #777; display: block; line-height: 16px; padding: 12px 14px; border-top: 1px solid #f9f9f9; border-bottom: 1px solid #dfdfdf; border-right: 1px solid #d8d8d8; }
ul#air-menu li a:hover { background: #e4e4e4; color: #444; } 
ul#air-menu li.current a { background: #fff; color: #21759b; border-right-color: #fff; }
ul#air-menu li.air-menu-title { background: #e4e4e4; color: #999; text-shadow: 0 1px 0 #f5f5f5; text-transform: uppercase; font-size: 12px; line-height: 16px; padding: 12px 14px; border-top: 1px solid #f9f9f9; border-bottom: 1px solid #d8d8d8; border-right: 1px solid #d8d8d8; }

/* top & default icons */
i.air-icon { background: url(img/air-icons.png) no-repeat 0 0; width: 16px; height: 16px; float: left; margin-right: 6px; }
i.air-icon.air-icon-changelog { background-position: 0 -16px; }
i.air-icon.air-icon-forums { background-position: 0 -32px; }
i.air-icon.air-icon-themes { background-position: 0 -48px; }

/* sidebar icons : options */
i.air-icon.air-icon-general { background-position: 0 -64px; }
i.air-icon.air-icon-blog { background-position: 0 -80px; }
i.air-icon.air-icon-seo { background-position: 0 -96px; }
i.air-icon.air-icon-header { background-position: 0 -112px; }
i.air-icon.air-icon-footer { background-position: 0 -128px; }
i.air-icon.air-icon-sidebar { background-position: 0 -144px; }
i.air-icon.air-icon-styling { background-position: 0 -160px; }
i.air-icon.air-icon-typography { background-position: 0 -176px; }
i.air-icon.air-icon-help { background-position: 0 -192px; }

/* sidebar icons : modules */
i.air-icon.air-icon-social { background-position: 0 -240px; }
i.air-icon.air-icon-login { background-position: 0 -256px; }
i.air-icon.air-icon-maintenance { background-position: 0 -272px; }
i.air-icon.air-icon-portfolio{ background-position: 0 -288px; }


/*-------------------------------------------------------------------------- */
/* Main
/*-------------------------------------------------------------------------- */
#air-main { background: #fff; width: 680px; float: left; min-height: 500px; padding-bottom: 60px; position: relative; 
-moz-border-radius: 0 0 10px 0; -webkit-border-radius: 0 0 10px 0; border-radius: 0 0 10px 0;}
#air-main-inner { padding: 0 20px 20px 20px; }

.air-module-container { padding: 20px 0; }
.air-module-inner-container { clear: both; overflow: auto; }

.air-section { margin-bottom: 20px; }
.air-section pre { padding: 10px 0; white-space: pre-wrap; word-wrap: break-word; overflow-x: auto; overflow-y: hidden; }  
.air-submit { padding: 0; margin: 6px 0; }


/*-------------------------------------------------------------------------- */
/* Fields
/*-------------------------------------------------------------------------- */
input.air-error { border: 1px solid red; }
input.aligncenter { text-align: center; }
.air-halign-radio { margin-right: 15px }
.air-colorpicker { background: url(img/colorpicker/select.png); float: left; position: relative; margin-top: -5px; margin-right: 10px; width: 36px; height: 36px; }
.air-colorpicker div { background: url(img/colorpicker/select.png) center; position: absolute; top: 3px; left: 3px; width: 30px; height: 30px; }
.colorpicker input { line-height: 10px; top:5px }


/*-------------------------------------------------------------------------- */
/* Modules : Common
/*-------------------------------------------------------------------------- */

/* box */
.air-box { background: #f4f4f4; border: 1px solid #dfdfdf; float: left; width: 308px;
-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
-moz-box-shadow: inset 0 1px 0 #fff; -webkit-box-shadow: inset 0 1px 0 #fff; box-shadow: inset 0 1px 0 #fff;  }
.air-box-head h3 { font-size: 12px; padding: 8px 10px; border-bottom: 1px solid #dfdfdf; margin: 0; }
.air-box-inner { padding: 10px; }
.air-box label { display: block; width: 100%; }

/* table */
.air-table { width: 100%; border: 1px solid #dfdfdf; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.air-table thead th { color: #444; padding: 8px 0; text-align: left; border-bottom: 1px solid #dfdfdf; }
.air-table tr { padding: 10px 0; }
.air-table td { background: #fcfcfc; border-bottom: 1px solid #eee; padding: 15px 0; vertical-align: top; }
.air-table a.air-link-move,
.air-table a.air-link-delete { width: 28px; height: 28px; float: left; display: block; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.air-table a.air-link-move:hover,
.air-table a.air-link-delete:hover { background: #eee; }
.air-table a.air-link-move img,
.air-table a.air-link-delete img{ margin: 8px; }
.air-table .new-window { margin-top: 10px; }

.air-table tfoot td { border-bottom: 0; padding: 10px; }
.air-table tfoot input { margin-left: 10px; }
.air-table tfoot p { margin: 0; }

/* credit text */
.air-credit { font-size: 11px; color: #aaa; margin: 0; }
.air-credit a { color: #aaa; text-decoration: underline!important; }
.air-credit a:hover { text-decoration: none!important; }


/*-------------------------------------------------------------------------- */
/* Module: Social
/*-------------------------------------------------------------------------- */
#air-social .air-module-inner-container { border-bottom: 1px solid #f1f1f1; padding-bottom: 20px; }

/* social: form box */
#air-social .air-box.first { margin-right: 20px; }
#air-social #air-social-submit { margin-left: 0; margin-bottom: 4px; }

/* social: icons box list */
#air-social .air-social-icons { padding: 6px 6px 0 6px; margin-bottom: 0; }
#air-social .air-social-icons:after { content:''; display: block; height: 0; clear: both; visibility: hidden; }
#air-social .air-social-icons li { float:left; height: 34px; margin-bottom: 0; text-align: center; width:34px; }
#air-social .air-social-icons li:hover { cursor: pointer; }

/* social: icons box tabs */
#air-social  #air-icons-tabs .air-icon-tab { margin: 0; }
#air-social  #air-icons-tabs .air-icon-tab li { display: inline; margin: 0; padding: 3px 6px; }
#air-social  #air-icons-tabs .ui-state-active { background: #fff; border-color: #dfdfdf; border-style: solid solid none; border-width: 1px 1px 0; }
#air-social  #air-icons-tabs .ui-tabs-panel { background: #fff; border: 1px solid #dfdfdf; overflow: auto; }

/* social: icons box credit */
#air-social #air-icons-tabs .air-credit { padding: 10px; border-top: 1px solid #f1f1f1; }

/* social: table */
#air-social-content { clear: both; margin-top: 20px; }

#air-social .air-table thead th.icon { padding-left: 10px; }
#air-social .air-table td.icon img { margin: 5px 10px; float: left; }


/*-------------------------------------------------------------------------- */
/* Module: Header Images
/*-------------------------------------------------------------------------- */
#air-headerimg .air-module-inner-container { border-bottom: 1px solid #f1f1f1; padding-bottom: 20px; }
#air-headerimg .air-box { width: 99.7%; }
#air-headerimg .air-box.first label { width: 20%; float: left; }
#air-headerimg .air-box.first select { width: 200px; }
#air-headerimg .air-box.first input[type="text"] { width: 62%; }

/* headimg: table */
#air-headerimg-content  { clear: both; margin-top: 20px; }
#air-headerimg .air-table { width: 100%; }
#air-headerimg .air-table thead th { border-bottom: 1px solid #ddd; }
#air-headerimg .air-table tbody tr:first-child td { padding-top: 15px; }
#air-headerimg .air-table tbody tr:last-child td { padding-bottom: 15px; }
#air-headerimg .air-table tfoot td { border-top: 1px solid #ddd; padding: 10px 0; }
#air-headerimg .air-table th { text-align: left; }
#air-headerimg .air-table th, 
#air-headerimg .air-table td { padding:7.5px 10px; vertical-align: middle; }
#air-headerimg .air-table td input[type="text"] { padding: 6px 3px; width: 100%; }
#air-headerimg .air-table th.image { padding-left: 75px; }
#air-headerimg .air-table td.image img { background: #fff; border: 1px solid #dfdfdf; float:left; margin-right:10px; padding: 4px; height: 40px; width: 40px; }
#air-headerimg .air-table td.image input[type="text"] { float:left; margin-top: 9px; width: 75%; }
#air-headerimg .air-table th.repeat, 
#air-headerimg .air-table td.repeat,
#air-headerimg .air-table th.size, 
#air-headerimg .air-table td.size { width: 110px; }
#air-headerimg .air-table th.actions, 
#air-headerimg .air-table td.actions { width: 56px; }


/*-------------------------------------------------------------------------- */
/* More Themes Page
/*-------------------------------------------------------------------------- */
#wpbody-content .theme {  }
#wpbody-content .theme a { background: #eee; border: 1px solid #ddd; float: left; display: block; padding: 10px; margin: 15px 15px 5px 5px; }
#wpbody-content .theme a:hover { background: #e5e5e5; border-color: #d5d5d5; }
#wpbody-content .theme a:hover img { opacity: 0.9;
-webkit-transition-property: opacity; -webkit-transition-duration: 0.2s; -webkit-transition-timing-function: ease;
-moz-transition-property: opacity; -moz-transition-duration: 0.2s; -moz-transition-timing-function: ease;
-o-transition-property: opacity; -o-transition-duration: 0.2s; -o-transition-timing-function: ease;
transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; }
#wpbody-content .theme a img { float: left; }

/*-------------------------------------------------------------------------- */
/* Footer
/*-------------------------------------------------------------------------- */
#air-footer { background: #fff url(img/air-footer.png) repeat-y right; width: 652px; height: 40px; padding: 10px 14px; border-top: 1px solid #f1f1f1; position: absolute; bottom: 0; 
-moz-border-radius: 0 0 10px 0; -webkit-border-radius: 0 0 10px 0; border-radius: 0 0 10px 0; }
#air-footer p { float: right; }


/*-------------------------------------------------------------------------- */
/* Browser Gradients
/*-------------------------------------------------------------------------- */
.air-box-head,
.air-table thead { background-color: #f1f1f1; text-shadow: 0 1px 0 #fff;
background-image:-ms-linear-gradient(top,#f9f9f9,#ececec);
background-image:-moz-linear-gradient(top,#f9f9f9,#ececec);
background-image:-o-linear-gradient(top,#f9f9f9,#ececec);
background-image:-webkit-gradient(linear,left top,left bottom,from(#f9f9f9),to(#ececec));
background-image:-webkit-linear-gradient(top,#f9f9f9,#ececec);
background-image:linear-gradient(top,#f9f9f9,#ececec);
-moz-box-shadow: inset 0 1px 0 #fff, 0 1px 0 #fff; -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 0 #fff; box-shadow: inset 0 1px 0 #fff, 0 1px 0 #fff;
-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0; }
